<br />
<br />

<p>
  <button>
    <a href="/productNoWebsocket">
      MOSTRAR PRODUCTOS SIN WEBSOCKET</a></button>
</p>
<p>
  <button>
    <a href="/realtimeproducts">
      MOSTRAR PRODUCTOS UTILIZANDO WEBSOCKET</a></button>
</p>